.App {
  text-align: center;

}

.App-logo {
  width: 25%;
}


.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-top: 1%;
}

.App-link {
  color: #61dafb;
}

.App-json {
  color: black;
}

.global-board {

  padding: 1% 5% 0% 5%;
}

.global-header, .total-header {
  background-color: rgba(128, 128, 128, 0.452);
}

.total-board{
  padding: 0% 5% 0% 5%;
}